@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;;
}

.menu-bar {
    background-color: #ffffff;
    width:100%;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 2px solid rgb(179, 179, 179);
    border-radius: 10px;
    justify-content: center;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1;
}

.menu-item {
    float: left;
    list-style: none;
}

.search-bar{
    float: right;
}

.menu-item a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-item a:hover {
    background-color: #700000;
    color: #ffffff;
}

/* Style for the search bar container */
.menu-item form {
    display: flex; /* Use flexbox to align items horizontally */
    margin-left: 10px; /* Adjust the margin as needed */
}

.menu-item input[type="text"] {
    padding: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
}

.menu-item button {
    padding: 10px;
    background-color: rgb(130, 94, 31);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-item button:hover {
    background-color: #a08f45;
}

.modellist {
    padding-top: 1em;
    padding-bottom: 2em;
    list-style: none;
}

.container{
    padding: 5rem;
}
